body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F2F5E9;
    color: #394240;
    margin: 20px;
}

h1, h2 {
    margin-bottom: 20px;
    color: #394240;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #ECF3E0;
}

th, td {
    padding: 10px;
    border: 1px solid #AAB7A4;
}

button, input[type="submit"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto 40px;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 40px;
}
