<p>This database is used to store information about hiking trails in Washington.</p>
<p>The following CRUD operations are supported for the following entities:</p>
<p>Trails: Create, Read, Update, Delete</p>
<p>TrailEnvironments: Create, Read, Update, Delete</p>
<p>Environments: Create, Read</p>
<p>ParkSystems: Create, Read, Update (parkPass can be set or updated to NULL)</p>
<p>ParkPasses: Create, Read</p>
<p></p>