<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Washington State Hiking Trails Database</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="js/parse.min.js"></script>
</head>
<body>
<h1>
    Washington State Hiking Trail Database
</h1>
<nav class="button-nav">
    <a href="/" class="nav-button">Home</a>
    <a href="/Trails" class="nav-button">Trails</a>
    <a href="/TrailEnvironments" class="nav-button">TrailEnvironments</a>
    <a href="/Environments" class="nav-button">Environments</a>
    <a href="/ParkSystems" class="nav-button">Park Systems</a>
    <a href="/ParkPasses" class="nav-button">Park Passes</a>
    <a href="/TrailDifficulties" class="nav-button">Trail Difficulties</a>
</nav>
    {{{body}}}

</body>
</html>