<h1>About</h1>

<div class="about">
<p>
    This database tracks some of the most popular hiking trails in Washington
    state. According to
    AllTrails, there are over 3,500 trails in Washington suited for hiking.
    There are just under 700 miles of hiking trails that are managed by the
    Washington State and Recreation Commission alone. Many Washington residents
    take advantage of this abundance of trails. Forty percent of Seattle
    residents (1.3 million people) went hiking at least once from June 2021 to
    June 2023, according to the Seattle Times.
</p>
<p>
    Due to its vast and varied terrain, there are many different trail
    environments in Washington. Many of these trails are nestled in the Olympic
    and Cascade mountain ranges. Some of these even traverse slopes on active
    volcanoes. Alternatively, many other hiking trails can be found along the
    scenic Pacific coast or in the lush Hoh Rainforest. Not to be overlooked,
    eastern Washington’s shrubsteppe ecosystem is also home to many trails.
</p>

<p>
    All of these trails have unique characteristics that are important for
    hikers to be aware of such as elevation, average completion time, and
    avalanche risk. Our database system catalog some of the most
    popular hiking trails and their respective information so that hikers can
    make informed decisions and find a trail that suits their preferences.
</p>
</div>

<h2>Supported CRUD Operations</h2>

<div class="CRUD-operations">
    <h3>Trails</h3>
    <ul>
        <li>
            Create, Read, Update, Delete
        </li>
    </ul>
    <h3>TrailEnvironments</h3>
    <ul>
        <li>
            Create, Read, Update, Delete
        </li>
    </ul>
    <h3>Environments</h3>
    <ul>
        <li>
            Create, Read
        </li>
    </ul>
    <h3>Park Systems</h3>
    <ul>
        <li>
            Create, Read, Update (parkPass can be set or updated to NULL)
        </li>
    </ul>
    <h3>Park Passes</h3>
    <ul>
        <li>
            Create, Read
        </li>
    </ul>
    <h3>Trail Difficulties</h3>
    <ul>
        <li>
            Create, Read
        </li>
    </ul>
    <p></p>