{{!-- 
Citation for the following: READ table and CREATE form
Date: 11/30/2023
Adapted from GitHub Node.js starter app walkthrough guide
Changed the table to display the attributes from the TrailDifficulties table. Changed the CREATE form to input the appropriate attributes for the TrailDifficulties entity.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
            https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
--}}

<h1>Trail Difficulties</h1>
<p>This category table holds data for the difficulty rating of each trails</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.difficultyID}}</td>
            <td>{{this.difficultyName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->
<h2>Add Difficulty</h2>
<p>To add a new difficulty, please enter the difficulty name and click "Submit"</p>
<form id="add-difficulty-form" method="POST" action="/add-difficulty-form">

    <label for="input-difficulty">Difficulty Name: </label>
    <input type="text" name="input-difficulty" id="input-difficulty">
    

    <input type="submit">
</form>